
 
    <div class="col-md-6 offset-md-3 mt-4" id="container">
           
        <h4>
            Register
        </h4>
        <form>
            <div class="mb-3">
              <label for="registeradmin/user" ></label>
              <select id="admin/user">
                <option>Admin</option>
                <option>User</option>
              </select>
              
            </div>
            <div class="form-group">
              <label for="registeremail" ></label>
              <input type="email" 
              class="form-control" 
              id="email" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label for="registerusername" ></label>
                <input type="text" 
                class="form-control" 
                id="username" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="registermobilenumber" ></label>
                <input type="number" 
                class="form-control" 
                id="text" placeholder="Enter Mobilenumber">
              </div>
              <div class="form-group">
                <label for="registerpassword" ></label>
                <input type="password" 
                class="form-control" 
                id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="registerconfirmpassword" ></label>
                <input type="password" 
                class="form-control" 
                id="confirmpassword" placeholder="ConfirmPassword">
              </div>
              
              <button type="submit" class="btn btn-dark">Submit</button>
             
             <h6>Already a user?</h6>
            <div class="form-group form-check">
             
              <a [routerLink]="['']"><button type="button" class="btn btn-primary">login</button> </a>             
               
            </div>
           
          </form>
    </div>

